.main-back{
    height: 100vh;
    background: linear-gradient(180deg, #111, #00210f 95%);
    color: #a8d5ba;
    font-family: "Segoe UI, Tahoma, Geneva, Verdana, sans-serif";
    overflow: hidden;
    position: relative;
}

.login-card{
    background: linear-gradient(135deg, #0f5132, #003d1a);
    padding: 3rem 4rem;
    border-Radius: 15px;
    box-Shadow: 0 8px 25px rgba(0, 64, 21, 0.6);
    text-Align: center;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
}

.Ham-symbol{
    position: absolute;
    top: 25px;
    left: 30px;
    z-Index: 100;
    cursor: pointer;
}

.create-portfolio-button{
    padding: 9px 0;
    margin-bottom: 1.5rem;
    border: none;
    background: #4caf50;
    color: #00210f;
    border-radius: 6;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.logout{
    background-color: #4caf50;
    border: none;
    color: black;
    border-radius: 20px;
    padding: 8px 18px;
    font-weight: bold;
    cursor: pointer;
}

.breakdown{
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr;
    gap: 2rem;
    margin-top: 2rem;
    align-items: start
}

.ticker-input{
    width: 170;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #4caf50;
    background-color: #0c1a0f;
    color: #c8facc;
    outline: none;
    font-size: 1.08rem;
}

.suggest{
    position: absolute;
    z-index: 10;
    top: 42;
    left: 0;
    right: 0;
    background: #1a2b1f;
    border-radius: 6;
    box-shadow: 0 2px 12px #0009;
    max-height: 180;
    overflow-y: auto;
}

.card-inp{
    width: 180;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #4caf50;
    background-color: #0c1a0f;
    color: #c8facc;
    outline: none;
    font-size: 1.08rem;
}

.resp{
    margin-top: 1.2rem;
    padding: 0.65rem;
    border-radius: 6px;
    background-color: #06110a;
    border: 1px dashed #4caf50;
    min-height: 30;
    color: #d9fdd3;
    font-size: 1.12rem;
}

.add-stock{
    background-color: #10291b;
    padding: 1.4rem;
    border-radius: 10px;
    border: 1px solid #205f38;
    margin-bottom: 2rem;
}